<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CashControl - Manage your money</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>

<div>
    <form th:action="@{/category/save}" th:object="${category}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <label>
            <input type="text" th:field="*{name}"/>
        </label>
        <label>
            <input type="text" th:field="*{description}"/>
        </label>
        <select name="type" th:field="*{type}">
            <option th:each="type : ${T(br.com.lucasromagnoli.cashcontrol.category.CategoryType).values()}"
                    th:value="${type}" th:text="${type.label}"></option>
        </select>
        <button type="submit">Cadastrar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category : ${categoryList}">
                <th th:text="${category.id}"></th>
                <th th:text="${category.name}"></th>
                <th th:text="${category.description}"></th>
                <th th:text="${category.type?.label}"></th>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>