<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/admin/importation/categories}" method="POST" enctype="multipart/form-data">
        <h3>Carregar categorias e subcategorias</h3>
        <input type="file" name="file" placeholder="Arquivo">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>